<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta charset="UTF-8" />
<title th:text="${titulo}"></title>
<!-- CSS only -->
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor"
	crossorigin="anonymous">

</head>
<body>
<nav th:replace="fragments/nav :: menu">
	</nav>
	
	<div class="container">
		<h2 class="text-primary" th:text="${titulo}"></h2>
		<a sec:authorize="hasRole('ROLE_ADMIN')" class="btn btn-primary" th:href="@{/detalle}">Crear Producto</a>
		<table class="table table-striped">
			<thead>
				<tr>
					<th sec:authorize="hasRole('ROLE_ADMIN')">Codigo</th>
					<th>Nombre</th>
					<th>Marca</th>
					<th>Precio</th>
					<th>Fecha</th>
					<th sec:authorize="hasRole('ROLE_ADMIN')" colspan="2">Mantenimiento<th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="productos:${producto}">
					<td sec:authorize="hasRole('ROLE_ADMIN')">
						<a class="btn btn-warning" th:href="@{/ver2/}+${productos.codigo}" 
							th:text="${productos.codigo}"
						></a>
					</td>
					<td th:text="${productos.nombre}"></td>
					<td th:text="${productos.marca}"></td>
					<td th:text="${productos.precio}"></td>
					<td th:text="${productos.createAt}"></td>
					<td sec:authorize="hasRole('ROLE_ADMIN')">
						<a class="btn btn-primary btn-xs" 
						th:href="@{/detalle/}+ ${productos.codigo}" th:text="'Editar'"></a>
					</td>
					<td sec:authorize="hasRole('ROLE_ADMIN')">
						<a class="btn btn-danger btn-xs" 
						th:href="@{/borrar/}+ ${productos.codigo}" th:text="'Eliminar'"
						onclick="confirm('Estás seguro de eliminar');"></a>
					</td>
					<!--  Angular (Sweet Alert) -->
				</tr>
			</tbody>
		</table>
	</div>

	<!-- JavaScript Bundle with Popper -->
	<script
		src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
		crossorigin="anonymous"></script>

</body>
</html>